@inherits LayoutComponentBase
@inject IJSRuntime js

<PageTitle>TP-PW3</PageTitle>

<div class="page @ObtenerClase()">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="search-input">
                <form id="search" action="#">
                    <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                    <i class="fa fa-search"></i>
                </form>
            </div>
            <select @onchange="CambiarTema" class="ms-1 form-select form-select-sm" aria-label="Seleccione">

                @foreach (var modo in modos)
                {
                    <option selected="@EsSeleccionado(modo)" value="@modo">
                        @if (modo == "Luz")
                        {
                            <span class="oi oi-sun" aria-hidden="true"></span>
                            @modo
                        }
                        else
                        {
                            <span class="oi oi-moon" aria-hidden="true"></span>
                            @modo
                        }
                    </option>
                }
            </select>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>


    @*--------------Codigo---------------*@
    @code {
        private string modoSeleccionado = "Luz";
        private List<string> modos = new List<string>() { "Luz", "Oscuridad" };
        private readonly string llaveTema = "tema";

        protected override async Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                var modoLocalStorage = await js.InvokeAsync<string>("leerLocalStorage", llaveTema);
                if (!string.IsNullOrEmpty(modoSeleccionado))
                {
                    modoSeleccionado = modoLocalStorage;
                    StateHasChanged(); //avisa cambios
                }
            }
        }

        private string ObtenerClase()
        {
            if (modoSeleccionado == "Luz")
            {
                return string.Empty;
            }
            else
            {
                return "modo-oscuro";
            }
        }

        private bool EsSeleccionado(string modo) => modo == modoSeleccionado;

        private async Task CambiarTema(ChangeEventArgs e)
        {
            modoSeleccionado = e.Value.ToString();
            await js.InvokeVoidAsync("agregarLocalStorage", llaveTema, modoSeleccionado);
        }
    }

</div>
