:root {
    --fondo: white;
    --fondo-letra: black;
    --fondo-letra-hover: rgb(105, 19, 19);
    --fondo-letra-2: rgb(58, 58, 58);
    --fondo-borde: rgb(51, 51, 51);
    --fondo-resaltado: #f7f7f7;
    --fondo-resaltado-2: #e2e3e5;
    --fondo-degrades-1: linear-gradient(180deg, rgb(185 133 176) 0%, #a95497 70%);
    --link: #0554ae;
}

.modo-oscuro {
    --fondo: #2d2d2d;
    --fondo-letra: white;
    --fondo-letra-hover: rgb(212, 73, 73);
    --fondo-letra-2: rgb(161, 161, 161);
    --fondo-borde: rgb(212, 212, 212);
    --fondo-resaltado: #393939;
    --fondo-resaltado-2: #414648;
    --fondo-degrades-1: linear-gradient(180deg, rgb(121 82 114) 0%, #391932 70%);
    --link: #3ca4ff;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(0 0 0) 0%, #81306f 70%);
}

.top-row {
    background-color: var(--fondo-resaltado);
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
