################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TP-PW3/.vs/TP-PW3/FileContentIndex/*.vsidx

